<% @page_title = "Associate Painting | Gulf Shores, Al" %>
<% @page_description = "New Subject" %>

<section class="home-header">
</section>
<!-- Serving the Gulf Coast since 1995. ,,  and .  -->
<section class="home-sec1">
	<div class="home-banner">
		<div class="content">
			<div class="inner">
				<%= image_tag('roller-clear.png', class: 'icon', alt: '') %>
				<h3>Quality Guaranteed</h3>
				<p>From the products we use, to the results we deliver, Associate Painting is Baldwin County's top painting service!</p>
			</div>
		</div>
	</div>

	<!-- <div class="container no-padding"> -->
	<div class="container-fluid servicesec">
		<div class="inside">
			<div class="title-blk">
				<h3 class="t1">Associate Painting</h3>
				<p>has been providing professional, dependable workmanship along the Gulf Coast for more than 20 years.
					Our team incorporates an unbeatable blend of skill, experience, and efficiency into every project.
				</p>
				<div class="service-arr">
					Our Services Include
					<i class="fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="service-blk res">
				<div class="over">
					<h3>Residential<br>
					<span>Paint Jobs</span></h3>
				</div>
			</div>

			<div class="service-blk com">
				<div class="over">
					<h3>Commercial<br>
					<span>Paint Jobs</span></h3>
				</div>
			</div>

			<div class="service-blk new">
				<div class="over">
					<h3>New Construction<br>
					<span>Paint Jobs</span></h3>
				</div>
			</div>

			<div class="service-blk cus">
				<div class="over">
					<h3>Custom <br>
					<span>Paint Jobs</span></h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="home-sec2">
	<div class="container">
		<div class="content">
			<h3>Associate Painting has you covered!</h3>
			<div class="box-link quote"></div>
			<div class="box-link gall"></div>
		</div>
	</div>
</section>






		<!-- <%= image_tag('estate.png', class: 'img-responsive') %> -->
