<% @page_title = "Associate Painting | Gulf Shores, Al" %>
<% @page_description = "New Subject" %>

<section class="home-header">

</section>

<section class="home-s1">
	<div class="col-md-6">
		<%= image_tag('estate.png', class: 'img-responsive') %>
	</div>

	<div class="col-md-6">
		<div class="col-md-12">
			<div class="service-box">
				<div class="inner">
					<h3>Commercial</h3>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="service-box">
				<div class="inner">
					<h3>Residential</h3>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="service-box">
				<div class="inner">
					<h3>Industrial</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Painting. Waterproofing. Power washing. Staining. Commercial. Industrial. Residential painting</p>
