<% @page_title = "Project Gallery" %>
<% @page_description = "New Subject" %>

	<section class="head-pg">
		<div class="over"></div>
	</section>




<section class="project-gallery">
<div class="head-box">
		<div class="content">
			<h1>Check Out Some of Our Work</h1>
			<h4>Contact Us Today for a Quote!</h4>
		</div>
	</div>
	<% tag = 0 %>

	<% @projects.each do |project| %>
	  <% tag +=1 %>
		<% link = "https://s3.amazonaws.com/assoc-painting/ap-gallery"+"#{tag}"+".jpg" %>
		<%= link_to(image_tag("#{link}", class: 'img-responsive gall', alt: 'Associate Painting Project Gallery'), image_path("#{link}"), data: { lightbox: "example-set"}) %>
	<% end %>

	</div>
</section>


