$black: #000;
$white: #fff;
$light: #e4e4e4;
$dark: #1a1a1a;
$gray: #9d9d9d;
$tan: #dbd3c7;
$silver:#ecf0f1;
$lgray: #d4d8d8;
$red: #d10f08;
$blue: #0b30a1;

$open: 'Open Sans', Arial, sans-serif;
$lato: 'Lato', sans-serif;


$sec-padding: 60px 0;
$full-padding: 60px 80px;
