@import "mixins";
@import "variables";

header.custom {
    @include sec-default();
    position: absolute;
    top: 0;
    z-index: 555;

    .header-box {@include center-block();text-align: center;}

    .logo-block, .hcontent { display: inline-block; float: left;}
    .hcontent{margin-top: 45px; float: right; }
    .logo {width: 200px;padding: 10px 0 0;}
    .contact-info, nav { display: inline-block;}

    li, h4  {
        display: inline-block;
        margin-right: 40px;
        font-size: 17px;
        font-weight: bold;
    }
    h4, h4 a {color: $red;}
    li a {color: $blue; }
    h4.email {margin-right: 0px;}


    @include bp(xl) {
        .header-box{width:80%; }
    }

    @include bp(tb) {
        .header-box{width:90%; }
    }

    @include bp(md) {
        .header-box{width:99%; }
        .logo-block, .hcontent{@include sec-default();}
        .logo {@include center-block(); margin-bottom: 20px;}
        .hcontent{margin-top: 0; }

        li, h4{font-size: 16px}
    }

    @include bp(mb) {
        li, h4  {margin-right:25px}
        h4.email {margin-right:20px;}

    }

}

