@import "mixins";
@import "variables";

// header {@include sec-default(); height: 125px; }
// .logo-block {display: inline-block;float: left;}

// #nav {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 100%;
//     z-index: 555;

//     .logo {@include ease(); width: 205px;padding: 5px 0;}

//     nav {
//         ul {margin-top:55px}
//         li  {
//             color: $black;
//             display: inline-block;
//             margin-right: 30px;
//         }
//         a {color: $black;}
//     }

//     &.stuck {
//         background: $white;
//         border-bottom: 0;
//         box-shadow: 0 1px 33px rgba(26, 37, 46, .1), inset 0 1px 0 hsla(0, 0%, 100%, .35);

//         .logo {width: 185px; }
//     }

//     &.stick {
//         position: fixed;
//         &.stuck {

//         }
//     }
//     @include bp(sm) {
//         position: fixed;
//     }
// }



header.custom {
    @include sec-default();
    position: absolute;
    top: 0;
    z-index: 555;
    text-align: center;
    font-weight: bold;

    .contact-info, .logo-block, nav { display: inline-block; float: none; margin: auto;}
    .logo {width: 200px;padding: 10px 0 0;}
    // .logo-block { margin: 0 auto; }
    nav {float: right;}

    ul {margin-top:60px; text-align: left; padding-left: 0;}
    li  {
        color: $black;
        display: inline-block;
        margin-right: 30px;
        &:last-child {margin-right: 0;}
    }
    a, li {color: $blue; font-size: 16px;}

    .contact-info { margin-top: 55px; float: left;
        h4 {display: inline-block; margin-right: 20px;color: $blue; font-size: 16px;font-weight: bold;}
    }
}
