// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "variables";


.home {
	.home-header {@include sec-default(); @include sec-bgimage();
		background-position: bottom center;
		background-image: url(image_path('beach-homes.jpg'));

		.overlay {
			@include sec-default();
			height:100%;
			@include sec-bgimage();
			background-image: url(image_path('roller-header.png'));
		}

		.text-box {
			@include center-block();
			width: 45%;
			text-align: center;
			h3 {font-weight: bold; color: darken($blue, 10%);
					&.quote {color:$blue;}
			}
			.title-line { width: 40%; @include center-block(); height: 1px; background-color: rgba($blue, .4); margin: 20px auto; }
			.h1-img {width:75%;}
		}
	}

	.home-banner {@include sec-default();
		.content {color: $white; width:60%; float: left; background-color: $blue; padding: 20px 50px;
			margin-left: -30px; box-shadow: 10px 10px 10px rgba($black, .2);
			@include skew(-25deg);

			.inner {@include sec-default(); @include skew-txt(25deg);}
		}
		.icon {width: 55px; height: auto; display: inline-block;float: left; margin-right: 10px;}
		h3 {margin-bottom: 5px;font-weight: bold;}
		p {margin-left: 10px; }
	}

	.home-sec1 {@include sec-default(); padding: 40px 0 65px; background-color: $white;
		.servicesec {width: 90%; @include center-block();}
		.inside {@include sec-default(); padding-top: 50px;}
		.title-blk {display: inline-block; width: 32%; float: left; padding-right:10px;
			h4 {font-weight: bold;
				span {font-weight: normal; font-size: 16px; }}
			p {padding-left: 10px;}
		}

		.service-blocks{width: 65%; display: inline-block; float: right; }
		.service-blk {width: 49%; display: inline-block; height: 170px; @include sec-bgimage(); margin: 5px 0;
			.over {@include sec-default(); background-color: rgba($black, .2); height: 100%; padding-left:15px; padding-top: 60px;}
			&.res {background-image: url(image_path('cust.jpg'));float: left;}
			&.com {background-image: url(image_path('warehouse.jpg'));float: right;}
			&.new {background-image: url(image_path('visual.jpg')); float: left;}
			&.cus {background-image: url(image_path('color-swatch.jpg')); float: right;}
			h3 {color: $white; font-weight: bold; @include tshadowl($dark);}
		}

		.top {width: 95%; float: none;}
		.bottom {width: 95%; float: right;}

		.service-arr {text-align: right; font-size: 18px; font-weight: bold; font-family: $open; color: $blue;
			i {font-size: 22px;}
		}
	}
	i.xs {display: none;}

	.home-sec2 {@include sec-default(); background-color: $blue; @include sec-bgimage(); background-image: url(image_path('residential-hd.jpg')); background-size: 80%;
		position: relative; z-index: 0; padding: 80px 0 30px;
		&:before {@include before(); width: 80%; background-color: rgba($black, .7);}

		.content {width:60%; @include center-block(); color: $white; text-align: right; padding-bottom: 30px;
				h3 {font-weight: bold;@include tshadow($dark); text-transform: uppercase; font-size: 26px; margin-bottom:25px;
					span {font-weight: normal; }
				}
		}
		.boxes {width:85%; @include center-block(); margin-top:15px;}
		.box-link {width: 30%; display: inline-block; float: right; margin:0 0 20px 20px; height: 300px; background-color: $light; position: relative; z-index: 0;
			@include sec-bgimage(); background-image: url(image_path('brush-strokes.jpg'));
			&:before {@include before(); background-color: rgba($white, .5);}

			.overlay {@include sec-default(); height:100%; padding:30px 10px 20px; @include sec-bgimage();}
			&.quote .overlay {text-align: center;background-position:center center; background-image: url(image_path('logo-shape.png'));
				.text {@include sec-default(); padding: 70px 0 35px;}
			}
			&.gall .overlay{padding: 50px 30px 30px; background-image: url(image_path('estate.png')); background-position: bottom right; background-size: 65%;}

			h3 {font-weight: bold;text-transform: uppercase; color:$blue; }
			h4 {font-weight: bold; text-transform: uppercase; margin-bottom: 5px}
			a, .phone { font-weight: bold; font-size: 24px;  text-transform: uppercase; @include tshadowl(rgba($dark, .4)); color: lighten($blue, 25%);
				&:hover {color: $blue;}
			}
		}
	}

	@include bp(xl) {
		.home-header { height: 700px;
			.overlay {padding-top:300px;}
		}

	}

	@include bp(tb) {
		.home-header{height:500px;
			.overlay{padding-top:200px;}
		}

		.home-banner {
			.content { width:80%; padding: 20px 0 15px 40px;}
			.icon {width: 45px; margin-right: 5px;}
		}

		.home-sec1 {
			.inside {padding-top: 30px;}
			.title-blk {width: 80%; @include center-block(); padding-right:0px; margin-bottom: 20px;}

			.service-blocks{ width: 85%; @include center-block();}
			.service-blk {height: 130px; background-position: center center;
				.over {padding-top: 30px; background-color: rgba($black, .4);}
			}

			.service-arr {text-align: center; font-size: 18px;
				i {font-size: 16px;}
			}
		}
		i.xs {display: inline-block; padding-top: 5px;}
		i.full {display: none;}

		.home-sec2 { background-size: 90%; padding: 30px 0;
			&:before { width: 90%; }

			.content {width:70%; padding-bottom: 5px;
					h3 { margin-bottom:10px;}
			}
			.boxes {float:right}
			.box-link {width: 40%; height:200px;
				&.quote .overlay {background-size: 65%;
					.text {padding: 25px 0 0px;}
				}
				&.gall .overlay{padding: 30px; background-size: 40%;}
			}
		}
	}

	@include bp(md) {
		.home-header{height:465px;
			.overlay{padding-top:240px;background-image: url(image_path('roller-header-mob.png'));}
			.text-box {width: 75%;
				.h1-img {width:60%;}
				.title-line{margin: 15px auto;}
				h3 {font-size: 20px;}
			}
		}

		.home-banner {
			.content { width:100%; padding: 20px 0 15px 0px;@include skew(0deg);box-shadow: none; margin-left:0; text-align: center;
				.inner{@include skew-txt(0deg);}
			}
			.icon {display: none}
		}

		.home-sec1 { padding-top:0;
			.inside {padding-top: 15px;}
			.title-blk {width: 90%; }

			.service-blocks{ width: 90%; }
			.service-blk {height: 110px;}

			.service-arr {font-size: 16px;
				i {font-size: 14px;}
			}
		}

		.home-sec2 { background-size: 100%;
			&:before { width: 100%; }

			.content {width:95%; text-align: center;
					h3 { margin-bottom:10px;}
			}
			.boxes {@include sec-default();}
			.box-link {width: 45%; height:200px; margin:0 5px 10px;
				&.quote { float: left;}
			}
		}
	}

	@include bp(ph) {
		.home-banner {
			.inner { padding: 0 15px;}
			p {margin-left: 0}
		}

		.home-sec1 { padding-bottom: 20px;
			.title-blk {width: 96%; }
			.service-blocks{ width: 95%; }
			.service-blk {height: 90px; width: 90%;
				.over{padding-top:10px}
			}
		}

		.home-sec2 {
			.box-link {width: 85%; @include center-block(); height:100px;
				&.quote .overlay, &.gall .overlay{background-image: none; text-align: center; padding:0;}
				&.quote { float: none;
					.overlay .text{padding:10px 0;}
				}
				&.gall { height:85px;
					.overlay {padding-top: 15px;}
				}

				h3 {font-size: 20px;}
				a, .phone {font-size: 21px;}
			}
		}
	}

	@include bp(xs) {

		.home-sec1 {
			.title-blk {padding: 10px 10px 0;}
			.service-blk {height: 80px; width: 95%;
				.over{background-color: rgba($black, .6);}
				h3 {font-size: 20px;}
			}
			.top, .bottom {@include sec-default();}
		}

		.home-sec2 {
			.content {width:100%;}
			.box-link {width: 85%; @include center-block(); height:100px;
				&.quote .overlay, &.gall .overlay{background-image: none; text-align: center; padding:0;}
				&.quote { float: none;
					.overlay .text{padding:10px 0;}
				}
				&.gall { height:85px;
					.overlay {padding-top: 15px;}
				}

				h3 {font-size: 20px;}
				a, .phone {font-size: 21px;}
			}
		}
	}
}


.projects, .gallery {
	background-color: #ececec;
	header, header h4 {font-weight: bold;}


	.head-pg {
		@include sec-default(); background-color:$white; @include sec-bgimage(); background-image: url(image_path('rolled.jpg')); height:300px;
		.over{@include sec-default(); background-color:rgba($white, .9); height:100%; }
	}

	.head-box {
		width:30%; @include center-block(); background-color: $white; text-align: center; position: relative; margin-top: -130px; margin-bottom:40px; padding: 20px; color: $blue;
		.content { border: 1px solid $blue; background-color:$white; padding: 20px 10px}
		h1 {margin-bottom: 15px; font-weight: bold; text-transform: uppercase;}
		h4 {font-weight: bold; }
	}

	.project-gallery { text-align: center;
		@include sec-default(); padding: 40px;
		.gall {width: 19.5%; display: inline-block; padding:5px; margin-bottom: 20px; max-height: 200px;}
	}

	@include bp(tb) {
		.project-gallery .gall {width: 24%; }
	}
}


.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
