<footer>
 	<p class="copy">©<%= Time.now.year %> Associate Painting. All rights reserved.</p>
 	<p class="design"> Designed by <%=link_to('High Seas Design House', 'http://hsdesignhouse.com', target: '_blank') %>.</p>
  <a href="#" class="scroll-up">Scroll</a>
</footer>
